html,
body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

input,
label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

label {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

input[type="text"] {
  color: black;
  font-weight: 800;
  border: 1px solid hsl(0, 0%, 86%);
}

input[type="text"]:hover {
  border-color: hsl(259, 100%, 65%);
}

input[type="text"]:focus {
  outline: none !important;
  border: 2px solid hsl(259, 100%, 65%);
}

.card {
  padding: 30px;
}

@media (min-width: 1440px) {
  #mainSection {
    margin: 10% 25% 5% 25%;
  }

  label {
    font-size: 12px;
    letter-spacing: 2px;
  }

  input[type="text"] {
    width: 100%;
    font-size: 32px;
    padding: 10px;
  }

  .birth-section {
    margin: 0 0 50px 0;
    padding-right: 10%;
  }

  .birth-input {
    margin-right: 0px;
  }

  button {
    position: absolute;
    z-index: 1;
    top: 28%;
    right: 5%;
    background-size: 50%;
    width: 70px;
    height: 65px;
  }

  .submit hr {
    position: absolute;
    top: 31%;
    left: 5%;
    right: 10%;
  }

  .output {
    font-size: 88px;
    line-height: 80px;
  }
}

@media (min-width: 841px) and (max-width: 1439px) {
  #mainSection {
    margin: 10% 20% 5% 25%;
  }

  label {
    font-size: 12px;
    letter-spacing: 2px;
    text-align: left;
  }

  input[type="text"] {
    width: 100%;
    font-size: 18px;
    padding: 5px;
  }

  .birth-section {
    text-align: center;
  }

  .submit {
    margin: 100px 0;
  }

  .submit hr {
    position: absolute;
    top: 31%;
    left: 10%;
    right: 10%;
  }

  button {
    position: absolute;
    z-index: 1;
    top: 28%;
    left: 43%;
    background-size: 50%;
    width: 70px;
    height: 65px;
  }
  .output {
    font-size: 68px;
    line-height: 60px;
  }
  p {
    text-align: left;
  }
}

@media (max-width: 840px) {
  #mainSection {
    margin: 10% 5%;
  }

  label {
    font-size: 6px;
    letter-spacing: 2px;
    text-align: left;
  }

  input[type="text"] {
    width: 100%;
    font-size: 12px;
    padding: 5px;
  }

  .card {
    padding: 0;
    border: none;
  }

  .birth-section {
    text-align: center;
    margin: 0;
  }

  .birth-input {
    margin-right: 5px;
  }

  .submit {
    margin: 100px 0;
  }

  button {
    background-size: 40%;
    width: 50px;
    height: 45px;
  }

  .submit hr {
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
  }

  button {
    position: absolute;
    z-index: 1;
    top: 28%;
    left: 43%;
  }
  .output {
    font-size: 48px;
    line-height: 30px;
    margin: 0 2%;
  }
}

button {
  background-image: url("../assets/images/icon-arrow.svg");
  background-color: hsl(259, 100%, 65%);
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: center;

  border: none;
  border-radius: 100%;
}

button:hover {
  background-color: black;
}

.card {
  border-bottom-right-radius: 24%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.birth-input {
  display: inline-block;
}

/* Submit  */

.submit hr {
  display: inline-block;
}

/* Output  */
.output {
  margin-top: 20px;

  font-weight: 800;
  font-style: italic;
}

.output-age {
  color: hsl(259, 100%, 65%);
}

/* Error Handling  */

.error {
  color: hsl(0, 100%, 67%);
  font-style: italic;
  font-size: 12px;
  padding-top: 3px;
}

.validation-error {
  border: 2px solid hsl(0, 100%, 67%);
}
